function Score.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 0
pop this 2
push pointer 0
call Score.render 1
pop temp 0
push pointer 0
return
function Score.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Score.getScore 0
push argument 0
pop pointer 0
push this 2
return
function Score.render 1
push argument 0
pop pointer 0
push constant 7
call String.new 1
push constant 83
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
pop local 0
push this 1
push this 0
call Output.moveCursor 2
pop temp 0
push local 0
call Output.printString 1
pop temp 0
push this 2
call Output.printInt 1
pop temp 0
push local 0
call String.dispose 1
pop temp 0
push constant 0
return
function Score.inc 0
push argument 0
pop pointer 0
push this 2
push constant 1
add
pop this 2
push constant 0
return
